{% extends 'base.html.twig' %}

{% block title %}Job Hidden{% endblock %}

{% block body %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Hidden</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%block stylesheet%}
    <link rel="shortcut icon" type="{{asset('image/x-icon" href="img/favicon.png')}}" />

    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}" />
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}" />
    <link rel="stylesheet" href="{{asset('css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{asset('css/gijgo.css')}}" />
    <link rel="stylesheet" href="{{asset('css/animate.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/slicknav.css')}}" />
    <link rel="stylesheet" href="{{asset('css/style.css')}}" />
    <link rel="stylesheet" href="{{asset('css/responsive.css')}}" />
    {%endblock%}
  </head>

  <body>
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo">
                    <a href="index.html">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/home"></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="phone_num d-none d-xl-block">
                      <a href="/register">{{app.user ? '' : 'Sign up'}}</a>
                    </div>
                    <div class="phone_num d-none d-xl-block">
                      
                      <a href="/{{app.user ? 'logout' : 'login'}}">{{app.user ? 'Logout' : 'Login'}}</a>
                    
                    </div>
                    <div class="phone_num d-none d-xl-block">
                      {% if app.user%}
                      <a href="user/{{app.user.id}}/edit">{{app.user ? 'Profil' : ''}}</a>
                      {% else %}
                      <a href="/home">{{app.user ? 'Profil' : ''}}</a>
                      {% endif %}  
                    </div>
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn2" href="#">Post a Job</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
            {% if nbAds > 1 %}
              <h3>{{nbAds}} Jobs Available</h3>
            {% else %}
              <h3>{{nbAds}} Job Available</h3>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="job_listing_area plus_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="job_filter white-bg">
              <div class="form_inner white-bg">
                <h3>Filter</h3>
                {{form_start(form)}}
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="single_field">
                      {{form_widget(form.search)}}
                      </div>
                    </div>
                  </div>
                <div class="reset_btn">
                  <button class="boxed-btn2 w-100" type="submit">search</button>
                </div>
                {{form_end(form)}}
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="recent_joblist_wrap">
              <div class="recent_joblist white-bg">
                <div class="row align-items-center">
                  <div class="col-md-6">
                  {% if ads|length > 0 %}
                    <h4>Job Listing</h4>
                    {% if ads|length > 1 %}
                    <p>{{ads|length}} resultats</p>
                    {% else %}
                    <p>{{ads|length}} resultat</p>
                    {% endif %}
                  {% else %}
                    <h4>Oups !</h4>
                  {% endif %}
                  </div>
                  <div class="col-md-6"></div>
                </div>
              </div>
            </div>

            <div class="job_lists m-0">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                {% if ads|length >0 %}
                {% for ad in ads %}
                  <div
                    class="single_jobs white-bg d-flex justify-content-between">
                    <div class="jobs_left d-flex align-items-center">
                      <div class="thumb">
                        <img src="img/svg_icon/1.svg" alt="" />
                      </div>
                      <div class="jobs_conetent">
                        <a href="job_details.html"
                          ><h4>{{ad.title}}</h4></a>
                        <div class="links_locat d-flex align-items-center">
                          <div class="location">
                            <p>
                              <i class="fa fa-map-marker"></i> {{ad.location}}
                            </p>
                          </div>
                          <div class="location">
                            <p><i class="fa fa-clock-o"></i> {{ad.contract}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jobs_right">
                      <div class="apply_now">
                        <a href="{{path('app_infos', {'id':ad.id})}}" class="boxed-btn3"
                          >Voir les informations</a>
                      </div>
                      <div class="date">
                        <p>Date line: 31 Jan 2020</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <h3>Désolé, il n'y a pas de resultat pour votre recherche</h3>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
