{% extends 'base.html.twig' %}

{% block title %}Job Hidden{% endblock %}

{% block body %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Hidden</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%block stylesheet%}
    <link rel="shortcut icon" type="{{asset('image/x-icon" href="img/favicon.png')}}" />

    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}" />
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}" />
    <link rel="stylesheet" href="{{asset('css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{asset('css/gijgo.css')}}" />
    <link rel="stylesheet" href="{{asset('css/animate.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/slicknav.css')}}" />
    <link rel="stylesheet" href="{{asset('css/style.css')}}" />
    <link rel="stylesheet" href="{{asset('css/addedStyle.css')}}" />

    <script src="https://cdn.tailwindcss.com"></script>
    {%endblock%}
  </head>

  <body>
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo">
                    <a href="/">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/"></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="phone_num d-none d-xl-block">
                      <a href="/register">{{app.user ? '' : 'S\'inscrire'}}</a>
                    </div>
                    <div class="phone_num d-none d-xl-block">
                      
                      <a href="/{{app.user ? 'logout' : 'login'}}">{{app.user ? 'Déconnexion' : 'Connexion'}}</a>
                    
                    </div>
                    <div class="phone_num d-none d-xl-block">
                      {% if app.user%}
                      <a href="user/{{app.user.id}}/edit">{{app.user ? 'Profil' : ''}}</a>
                      {% else %}
                      <a href="/home">{{app.user ? 'Profil' : ''}}</a>
                      {% endif %}  
                    </div>
                    {% if role %}
                    {% if (role == 'ROLE_RH')%}
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn2" href="post">+ Offre</a>
                    </div>
                    {% else %}

                    {% if (role == 'ROLE_ADMIN') %}
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn2" href="/admin">Dashboard</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
            {% if nbAds > 1 %}
              <h3>{{nbAds}} Offres d'emploi au total</h3>
            {% else %}
              <h3>{{nbAds}} Offre d'emploi seulement</h3>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="job_listing_area plus_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="job_filter white-bg">
              <div class="form_inner white-bg">
                <h3>Filtrer</h3>
                {{form_start(form)}}
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="single_field">
                      {{form_widget(form.search)}}
                      </div>
                    </div>
                  </div>
                <div class="reset_btn">
                  <button class="boxed-btn2 w-100" type="submit">Rechercher</button>
                </div>
                {{form_end(form)}}
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="recent_joblist_wrap">
              <div class="recent_joblist white-bg">
                <div class="row align-items-center">
                  <div class="col-md-6">
                  {% if ads|length > 0 %}
                    <h4>Liste des annonces</h4>
                    {% if ads|length > 1 %}
                    <p>{{ads|length}} resultats</p>
                    {% else %}
                    <p>{{ads|length}} resultat</p>
                    {% endif %}
                  {% else %}
                    <h4>Oups !</h4>
                  {% endif %}
                  </div>
                  <div class="col-md-6"></div>
                </div>
              </div>
            </div>

            <div class="job_lists m-0">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                {% if ads|length >0 %}

                {% for ad in ads %}
                  <div
                    class="single_jobs white-bg d-flex justify-content-between">
                    <div>
                    <div class="jobs_left d-flex align-items-center">
                      <div class="thumb">
                        <img src="img/svg_icon/1.svg" alt="" />
                      </div>
                      <div class="jobs_conetent">
                        <h4>{{ad.title}}</h4>
                        <div class="links_locat d-flex align-items-center">
                          <div class="location">
                            <p>
                              <i class="fa fa-map-marker"></i> {{ad.location}}
                            </p>
                          </div>
                          <div class="location">
                            <p><i class="fa fa-clock-o"></i> {{ad.contract}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jobs_right">
                      <div class="apply_now">
                        <a 
                        class="boxed-btn3"
                        id="learnMore-{{ad.id}}"
                          >Voir les informations</a>
                      </div>
                      <div class="date">
                        <p> {{ ad.datePub|date("d/m/Y") }} </p>
                      </div>
                    </div>
                  </div>
                  <div  id="des-{{ad.id}}" style="display : none;">
                  <div style="display:grid;margin-left:5%;">
                  <h3>Description</h3>
                      <p  style="margin-left:5%;">
                      {{ad.description}}
                      </p>
                    <h5>Entreprise : </h5>
                    <p style="margin-left:5%;">{{ ad.companyId.name }}</p>
                    <h5>Salaire : </h5>
                    <p style="margin-left:5%;">{{ ad.wages }}</p>
                    <h5>Adresse</h5>
                    <p style="margin-left:5%;">{{ad.adress}}</p>
                    <h5>Heures</h5>
                    <p style="margin-left:5%;">{{ad.workingTime}}</p>
                    <button id="btnForm-{{ad.id}}" class="boxed-btn3">Postuler</button>
                        <div id="form-{{ad.id}}" class="popup popup-none">
                        <div class="popup-content">
                            <span class="close" id="closePopup-{{ad.id}}">&times;</span>
                            {% if user %}
                            <h5 class="text-lg font-semibold mb-4">Vos informations ont été récupérées depuis votre profil</h5>
                            <form id="frm-{{ad.id}}" action="/" method="post" class="bg-white p-4 rounded-lg shadow-md">
                              <textarea name="emailSent" placeholder="Email d'envoi" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500" required></textarea>
                              <input type="hidden" value="{{ad.id}}" name="adId">
                              <button type="submit" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-700">Postuler</button>
                            </form>                            
                            {% else %}
                            <form id="frm-{{ad.id}}" action="/" method="post" class="bg-white p-4 rounded-lg shadow-md">
                              <textarea name="emailSent" placeholder="Email d'envoi" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500 mb-2" required></textarea>
                              <input type="text" name="firstName" placeholder="Prénom" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500 mb-2" required></input>
                              <input type="text" name="lastName" placeholder="Nom" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500 mb-2" required></input>
                              <input type="email" name="email" placeholder="Adresse Email" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500 mb-2" required></input>
                              <input type="text" name="tel" placeholder="Téléphone" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-500 mb-2" pattern="^\d{10,13}$" required></input>
                              <input type="hidden" value="{{ad.id}}" name="adId">
                              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-700 w-full">Postuler</button>
                            </form>                   
                            {% endif %}
                        </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <h3>Désolé, il n'y a pas de resultat pour votre recherche</h3>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>

    let adId;
    {% for ad in ads %}
    adId = {{ ad.id|json_encode() }};
    let des{{ ad.id|json_encode() }} = document.getElementById(`des-${adId}`);
    let btn{{ ad.id|json_encode() }} = document.getElementById(`learnMore-${adId}`);

    btn{{ ad.id|json_encode() }}.addEventListener('click', function changeDisplay(){
      if(des{{ ad.id|json_encode() }}.style.display == "none"){
        des{{ ad.id|json_encode() }}.style.display = "flex";
        btn{{ ad.id|json_encode() }}.innerHTML = "Cacher les informations";
      } else {
        des{{ ad.id|json_encode() }}.style.display = "none";
        btn{{ ad.id|json_encode() }}.innerHTML = "Voir les informations";
      }
    });

    let form{{ ad.id|json_encode() }} = document.getElementById(`form-${adId}`);
    let btnForm{{ ad.id|json_encode() }} = document.getElementById(`btnForm-${adId}`);
    let closePopup{{ ad.id|json_encode() }} = document.getElementById(`closePopup-${adId}`);

    btnForm{{ ad.id|json_encode() }}.addEventListener('click', function openPopup(){
      form{{ ad.id|json_encode() }}.classList.remove('popup-none');
      console.log(form{{ ad.id|json_encode() }});
    });

    closePopup{{ ad.id|json_encode() }}.addEventListener('click', function closePopup(){
      form{{ ad.id|json_encode() }}.classList.add('popup-none');
    });
    {% endfor %}
    </script>
  </body>
</html>
{% endblock %}