<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Hidden</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {%block stylesheet%}
    <link rel="shortcut icon" type="{{asset('image/x-icon" href="img/favicon.png')}}" />

    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}" />
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}" />
    <link rel="stylesheet" href="{{asset('css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{asset('css/gijgo.css')}}" />
    <link rel="stylesheet" href="{{asset('css/animate.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/slicknav.css')}}" />
    <link rel="stylesheet" href="{{asset('css/style.css')}}" />
    <link rel="stylesheet" href="{{asset('css/responsive.css')}}" />
    {%endblock%}
  </head>

  <body>
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo">
                    <a href="index.html">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/home">home</a></li>
                        <li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="phone_num d-none d-xl-block">
                      <a href="/{{app.user ? 'logout' : 'login'}}">{{app.user ? 'Logout' : 'Login'}}</a>
                    </div>
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn3" href="#">Post a Job</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Contrat : {{ad.contract}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job_details_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="job_details_header">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                
                  <div class="jobs_conetent">
                    <a href="#"><h4>Software Engineer</h4></a>
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p><i class="fa fa-map-marker"></i>{{ad.location}} </p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i>{{ad.contract}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                
                  </div>
                </div>
              </div>
            </div>
            <div class="descript_wrap white-bg">
              <div class="single_wrap">
                <h4>Job description</h4>
                <p>
                {{ad.description}}
                </p>
              </div>
              <div class="single_wrap">
                </ul>
              </div>
              <div class="single_wrap">
                <h4>Qualifications</h4>
                <ul>
                  <li>
                    The applicants should have experience in the following
                    areas.
                  </li>
                  <li>Have sound knowledge of commercial activities.</li>
                  <li>
                    Leadership, analytical, and problem-solving abilities.
                  </li>
                  <li>
                    Should have vast knowledge in IAS/ IFRS, Company Act, Income
                    Tax, VAT.
                  </li>
                </ul>
              </div>
            </div>
            <div class="apply_job_form white-bg">
              <h4>Postuler</h4>
              {% if user %}
              <h5>Vos informations ont été récupérées depuis votre profil</h5>
              {{form_start(form)}}
              <div class="row">
                  <div class="col-md-12">
                    <div class="input_field">
                    {{form_widget(form.emailSent)}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="submit_btn">
                      <button class="boxed-btn3 w-100" type="submit">
                        Apply Now
                      </button>
                    </div>
                  </div>
                </div>
              {{form_end(form)}}
              {% else %}
              {{form_start(form)}}
                <div class="row">
                  <div class="col-md-6">
                    <div class="input_field">
                      {{form_widget(form.userName)}}
                    </div>
                  </div>
                     <div class="col-md-6">
                    <div class="input_field">
                      {{form_widget(form.userLastName)}}
                    </div>
                  </div>                 
                  </div>
                   <div class="col-md-12">
                    <div class="input_field">
                      {{form_widget(form.userEmail)}}
                    </div>
                  <div class="col-md-12">
                    <div class="input_field">
                      {{form_widget(form.userTel)}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input_field">
                    {{form_widget(form.emailSent)}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="submit_btn">
                      <button class="boxed-btn3 w-100" type="submit">
                        Postuler
                      </button>
                    </div>
                  </div>
                </div>
              {{form_end(form)}}
              {% endif %}
            </div>
          </div>
          <div class="col-lg-4">
            <div class="job_sumary">
              <div class="summery_header">
                <h3>Job Summery</h3>
              </div>
              <div class="job_content">
                <ul>
                  <li>Published on: <span>{{ ad.datePub|date("d/m/Y") }}</span></li>
                  <li>Salaire : <span> {{ad.wages}} </span></li>
                  <li>Lieu : <span> {{ad.location}} </span></li>
                  <li>Contrat : <span> {{ad.contract}}</span></li>
                </ul>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer_top">
        <div class="container">
          </div>
        </div>
      </div>
    </footer>
  </body> 
</html>
