<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>

{% block body %}
<body>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap")
      repeat scroll 0 0 rgba(0, 0, 0, 0);
    
    
      body {
        background: #d7daed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      
    
        .login-block {
            width: 400px;
            height:250px;
            padding: 40px;
            background: #fff;
            border-radius: 10px;
            border-top: 5px solid #ff656c;
            margin: 0 auto;
        }
        
        .login-block h1 {
            text-align: center;
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }
        
        .login-block input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
        }
        
        .login-block input:active, .login-block input:focus {
            border: 1px solid #ff656c;
        }
        
        .login-block button {
            width: 100%;
            height: 40px;
            background: #ff656c;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #e15960;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
            margin-bottom: 10px;
        }
        
        .login-block button:hover {
            background: #ff7b81;
        }
        
    </style>
<article class="wrapper">
    <div class="login-block">
        <h1>Login</h1>
        <input type="email" placeholder="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <input type="password" placeholder="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
        <a href="/register">Not a member?</a>
    </div>
  </article>

   

  
</form>
    </body>
</html>
{% endblock %}