{% extends 'base.html.twig' %}

{% block title %}Advertisement{% endblock %}

{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advertisement.description }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ advertisement.location }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ advertisement.adress }}</td>
            </tr>
            <tr>
                <th>Wages</th>
                <td>{{ advertisement.wages }}</td>
            </tr>
            <tr>
                <th>Offerer</th>
                <td>{{ advertisement.userId }}</td>
            </tr>
            <tr>
                <th>Contract</th>
                <td>{{ advertisement.contract }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_advertisement_index') }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2 ml-2">back to list</a>

    <a href="{{ path('app_advertisement_edit', {'id': advertisement.id}) }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2">edit</a>

    {{ include('advertisement/_delete_form.html.twig') }}
{% endblock %}
