<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Hidden</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  {% include 'style.html.twig' %}
  <body class="flex items-center justify-center h-screen bg-gray-100">
    {{form_start(form)}}
    <div class="max-w-md mx-auto border border-gray-300 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 rounded-lg">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">User</label>
            {{form_row(form.userId,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">Advertisement</label>
            {{form_row(form.advertisementId,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">First name</label>
            {{form_row(form.userName,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">Last name</label>
            {{form_row(form.userLastName,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">Phone</label>
            {{form_row(form.userTel,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-500 text-sm font-bold mb-2">Email</label>
            {{form_row(form.userEmail,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-6">
            <label class="block text-gray-500 text-sm font-bold mb-2">Message</label>
            {{form_row(form.emailSent,{'attr':{'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}})}}
          </div>
          <div class="mb-4">
            <button type="submit" class="bg-green-400 hover:bg-green-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-green-400 w-full">Post</button>
          </div>
          <div class="mb-4">
            <a href="{{ path('app_postulate_index') }}" class="custom-button bg-green-400 hover-bg-green-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:border-green-400 w-full">back to list</a>
            {{form_end(form)}}
          </div>
        </form>
      </div>          
</body>

