{% extends 'base.html.twig' %}

{% block title %}Postulate index{% endblock %}

{% block body %}
<head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
    <h1 class="text-3xl font-bold">Postulate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Annonce</th>
                <th>EmailSent</th>
                <th>Date</th>
                <th>User</th>
                <th>User Firstname</th>
                <th>User Lastname</th>
                <th>User tel</th>
                <th>User email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postulate in postulates %}
            <tr>
                <td>{{ postulate.advertisementId }}</td>
                <td>{{ postulate.emailSent }}</td>
                <td>{{ postulate.date ? postulate.date|date('Y-m-d') : '' }}</td>
                {% if postulate.userId %}
                <td>{{ postulate.userId}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td></td>
                <td>{{ postulate.userName}}</td>
                <td>{{ postulate.userLastName}}</td>
                <td>{{ postulate.userTel}}</td>
                <td>{{ postulate.userEmail}}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_postulate_show', {'id': postulate.id}) }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2">show</a>
                    <a href="{{ path('app_postulate_edit', {'id': postulate.id}) }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2">edit</a>
                    <a class="inline-block">{%include 'postulate/_delete_form.html.twig'%}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_postulate_new') }}"class="inline-block bg-green-500 hover:bg-red-400 font-bold rounded mr-2 px-2 py-3 mb-2 ml-2">Create new</a>
    <a href="{{ path('app_admin') }}"class="inline-block bg-green-500 hover:bg-red-400 font-bold rounded mr-2 px-2 py-3 mb-2 ml-2">Back to home</a>
{% endblock %}
