{% extends 'base.html.twig' %}

{% block title %}Postulate index{% endblock %}

{% block body %}
    <h1>Postulate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Annonce</th>
                <th>EmailSent</th>
                <th>Date</th>
                <th>User</th>
                <th>User Firstname</th>
                <th>User Lastname</th>
                <th>User tel</th>
                <th>User email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postulate in postulates %}
            <tr>
                <td>{{ postulate.advertisementId }}</td>
                <td>{{ postulate.emailSent }}</td>
                <td>{{ postulate.date ? postulate.date|date('Y-m-d') : '' }}</td>
                {% if postulate.userId %}
                <td>{{ postulate.userId}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% else %}
                <td></td>
                <td>{{ postulate.userName}}</td>
                <td>{{ postulate.userLastName}}</td>
                <td>{{ postulate.userTel}}</td>
                <td>{{ postulate.userEmail}}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_postulate_show', {'id': postulate.id}) }}">show</a>
                    <a href="{{ path('app_postulate_edit', {'id': postulate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_postulate_new') }}">Create new</a>
{% endblock %}
