{% extends 'base.html.twig' %}

{% block title %}Postulate{% endblock %}

{% block body %}
<head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
    <h1 class="text-3xl font-bold">Postulate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postulate.id }}</td>
            </tr>
            <tr>
                <th>EmailSent</th>
                <td>{{ postulate.emailSent }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ postulate.date ? postulate.date|date('Y-m-d') : '' }}</td>
            </tr>
            {% if postulate.userId %}
            <tr>
                <th>User</th>
                <td>{{ postulate.userId }}</td>
            </tr>
            {% else %}
            <tr>
                <th>Guest Name</th>
                <td>{{ postulate.userName }}</td>
            </tr>
            <tr>
                <th>Guest last name</th>
                <td>{{ postulate.userLastName }}</td>
            </tr>
            <tr>
                <th>Guest tel</th>
                <td>{{ postulate.userTel }}</td>
            </tr>
            <tr>
                <th>Guest email</th>
                <td>{{ postulate.userEmail }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_postulate_index') }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2 ml-2">back to list</a>

    <a href="{{ path('app_postulate_edit', {'id': postulate.id}) }}" class="inline-block bg-blue-500 hover:bg-red-400 text-black font-bold py-2 px-4 rounded mr-2">edit</a>

    {{ include('postulate/_delete_form.html.twig') }}
{% endblock %}
