{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.birth) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.city) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

{% endblock %}
